.customize-lanyard{
  position: fixed;
  height: 90%;
  width: 90%;
  min-width: 300px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 13;

  display: flex;
  justify-content: center;
  align-items: center;

}
.customize-lanyard h2{
  position: relative;
  text-align: center;
  font-weight: 400;
  color: white
}
.customize-lanyard-container{
  position: relative;
  height: 80%;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;


}
.preview-customize-lanyard{
  position: relative;
  padding: 10px;
  width: 40%;
  height: 90%;
  min-width: 300px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(69,114,150);
  background: linear-gradient(270deg, rgba(69,114,150,1) 0%, rgba(105,164,195,1) 50%, rgba(31,60,102,1) 100%);

  box-shadow: -3px 3px 3px rgba(0, 0, 0, 1);


}
.preview-customize-lanyard img{
  position: relative;
  height: 90%;
}
#lanyards10mmOneEnd{
  background-color: orange;
}

.options-customize-lanyard{
  position: relative;
  padding: 10px;
  height: 90%;
  width: 40%;
  min-width: 300px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  background: rgb(29,61,97);
  background: linear-gradient(90deg, rgba(29,61,97,1) 0%, rgba(16,36,57,1) 100%);

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);

}
